# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Gradle template
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.gitignore
.gradle/
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries/Gradle__aopalliance_aopalliance_1_0.xml
.idea/libraries/Gradle__br_net_fabiozumbi12_UltimateChat_UltimateChat_Sponge_5_0_6_0_1_8_1.xml
.idea/libraries/Gradle__com_flowpowered_flow_math_1_0_3.xml
.idea/libraries/Gradle__com_flowpowered_flow_noise_1_0_1_SNAPSHOT.xml
.idea/libraries/Gradle__com_github_ben_manes_caffeine_caffeine_2_3_5.xml
.idea/libraries/Gradle__com_github_ben_manes_caffeine_guava_2_3_5.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_2_4.xml
.idea/libraries/Gradle__com_google_inject_guice_4_0.xml
.idea/libraries/Gradle__com_typesafe_config_1_3_0.xml
.idea/libraries/Gradle__com_vdurmont_emoji_java_3_3_0.xml
.idea/libraries/Gradle__io_github_nucleuspowered_nucleus_api_1_1_1_S5_1.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
.idea/libraries/Gradle__me_lucko_luckperms_luckperms_api_3_2.xml
.idea/libraries/Gradle__net_dv8tion_JDA_3_3_1_284.xml
.idea/libraries/Gradle__ninja_leaping_configurate_configurate_core_3_2.xml
.idea/libraries/Gradle__ninja_leaping_configurate_configurate_gson_3_2.xml
.idea/libraries/Gradle__ninja_leaping_configurate_configurate_hocon_3_2.xml
.idea/libraries/Gradle__ninja_leaping_configurate_configurate_yaml_3_2.xml
.idea/libraries/Gradle__org_ow2_asm_asm_5_0_3.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Gradle__org_spongepowered_plugin_meta_0_4_1.xml
.idea/libraries/Gradle__org_spongepowered_spongeapi_6_1_0_SNAPSHOT.xml
.idea/libraries/Gradle__org_spongepowered_spongeapi_javadoc_6_1_0_SNAPSHOT.xml
.idea/libraries/Gradle__org_yaml_snakeyaml_1_16.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
MagiBridge-JDA/.gradle/
MagiBridge-JDA/gradle/
MagiBridge-JDA/gradlew
MagiBridge-JDA/gradlew.bat
build/
gradle/
out/
src/test/
